body {
    font-family: sans-serif;
    font-size: 9pt;
}

h2 {
    font-family: sans-serif;
    font-size: 20pt;
}

p {
    font-family: sans-serif;
    font-size: 9pt;
}

label {
    font-family: sans-serif;
    font-size: 6pt;
}

button {
    font-family: sans-serif;
    font-size: 9pt;
    margin-top: 6px;
    margin-bottom: 6px;
}